.header {
    text-align: center;
}
.card {
    background-color: #f8f9fa;
    border-color: #f8f9fa;
}
.card-1 {
    background-color: #f8f9fa;
    border-color: #f8f9fa;
}
.card-2 {
    background-color: #f8f9fa;
    border-color: #f8f9fa;
}
.card-3 {
    background-color: #f8f9fa;
    border-color: #f8f9fa;
}
.card-4 {
    background-color: #f8f9fa;
    border-color: #f8f9fa;
}
.card-5 {
    background-color: #f8f9fa;
    border-color: #f8f9fa;
}
.card-6 {
    background-color: #f8f9fa;
    border-color: #f8f9fa;
}
.navbar {
    background-color: #f8f9fa;
    border-color: #f8f9fa;
}
/* .navbar .nav-link {
    color: #0d6efd;
} */